# Unuesful files
.DS_Store
.vscode/

# OpenFOAM folders to keep
wing/*
wing/constant/extendedFeatureEdgeMesh
wing/constant/polyMesh
!wing/0/
!wing/system/
!wing/constant/
!wing/Allclean
!wing/Allrun
!wing/wing.foam
