# Unuesful files
.DS_Store
.vscode/

# OpenFOAM folders to keep
wing/*
wing/constant/extendedFeatureEdgeMesh
wing/constant/polyMesh
wing/constant/triSurface/*.eMesh
!wing/0.orig
!wing/system/
!wing/constant/
!wing/Allrun
!wing/Allclean
!wing/cluster_run.sh
