# Unuesful files
.DS_Store
.vscode/

# OpenFOAM folders exclusion
wing/*
wing/constant/extendedFeatureEdgeMesh
wing/constant/polyMesh
wing/constant/triSurface/*.eMesh
wing/0.orig/include/initialConditions
wing/system/blockMeshDict
wing/system/controlDict
wing/system/decomposeParDict
wing/system/fvSchemes
wing/system/fvSolution

# OpenFOAM folders to keep
!wing/0.orig
!wing/system
!wing/constant
!wing/Allrun
!wing/Allclean
!wing/cluster_run.sh
